@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, div#root {
    width: 100%;
    height: 100%;
  }
  body {
    background-image: url("/sun-tornado.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}